@import '/src/Components/Utilities/Utilities';


.product-category {
    width: 100%;
    min-height: 700px;
    
    .category-name {
        width: 100%;
        min-height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: $smoky-dark;

        h1 {
            color: white;
            font-size: 2.5em;
            letter-spacing: 5px;
        }
    }

    .contents {
        width: 100%;
        max-width: 1200px;
        min-height: 500px;
        margin: auto;
        border: 2px solid blue;
        padding-top: 150px;
    }


}