@import '/src/Components/Utilities/Utilities';

.confirmation {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.315);
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &-content {
        width: 650px;
        height: 600px;
        background-color: white;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;

        .content-wrapper {
            width: 80%;
            min-height: 80%;

            h1 {
                width: 100%;
                max-width: 300px;
            }

            p {
                color: #7D7D7D;
                font-size: .9em;
            }

            .items-ordered {
                width: 100%;
                min-height: 180px;
                margin: 30px 0 10px;
                border-radius: 7px;
                display: flex;
                overflow: hidden;

                .items {
                    width: 65%;
                    min-height: inherit;
                    background-color: $seashell;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .items-container {
                        display: flex;
                        justify-content: space-between;
                        width: 80%;
                        border-bottom: 1px solid lightgray;

                        .item-one-img {
                            @extend %background-img-properties;
                            width: 70px;
                            height: 70px;
                            border-radius: 7px;
                        }

                        .item-one-desc {
                            margin: 0 10px;

                            p {
                                margin: 0;
                            }

                            .item-one-name {
                                
                                p {
                                    color: black;
                                    font-size: .8em;
                                    font-weight: bold;

                                }
                            }

                            .item-one-price {

                                p {
                                    font-weight: bold;
                                    margin-top: 10px;
                                }
                            }
                            
                            
                        }
                        .item-one-qty {
                            
                            p {
                                font-weight: bold;
                                margin: 0;
                            }
                        }

                    }

                    .other-items {
                        
                        p {
                            color: #7D7D7D;
                            font-weight: .6em;
                            font-weight: bold;
                        }
                    }

                }
                
                .grand-total {
                    width: 35%;
                    min-height: inherit;
                    background-color: $smoky-dark;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    padding: 0 20px;

                    p:nth-child(1) {margin: 0 0 10px 0;}
                    p:nth-child(2) {
                        margin: 0;
                        color: white;
                        font-weight: bold;
                        font-size: 1.2em;
                    }

                }

            }

            .back-home {
                width: 100%;
                max-width: 600px;
                background-color: $reddish-orange;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 15px 0;
                margin-top: 40px;

                button {
                    background-color: transparent;
                    border: none;
                    color: white;
                    font-weight: bold;
                }

            }

        }
    }

}

.hide-order-confirmation {
    display: none !important;
}