@import '/src/Components/Utilities/Utilities';


.product {
    width: 100%;
    min-height: 600px;
    margin-bottom: 50px;
    // border: 2px solid olivedrab;
    display: flex;
    justify-content: space-between;
    // margin-bottom: 100px;

    .product-wrapper {
        width: 100%;
        min-height: inherit;
        border: 4px solid red;
        display: flex;
        justify-content: space-between;
    }


    div {
        width: calc(100% / 2.2);
        min-height: inherit;
    }

    .product-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            max-width: 380px;
            font-size: 2.5em;
            line-height: 1;
            margin-top: -2px;
        }

        p:nth-of-type(2) {
            font-size: .9em;
            max-width: 420px;
            color: #7D7D7D;
            line-height: 1.5;
            margin-bottom: 50px;
        }

        p.intro {
            font-size: 1em;
            letter-spacing: 5px;
            color: $reddish-orange
        }

    }

    .img-wrapper {
        @extend %background-img-properties;
        // border: 2px solid #fcb69f ;
        // background-image: linear-gradient(to right, #ffdecd2 0%, #fcb69f 100%);
        // background-image: url(../../../public/assets/shared/desktop/image-best-gear.jpg);
        background-color: antiquewhite;
        border-radius: 10px;
    }

}

.product:not(:nth-child(3)) {
    margin-bottom: 150px;
    // border: 2px solid red;
} 
.product:nth-child(3) {
    margin-bottom: 250px;
    // border: 2px solid blue;
} 


.row-reverse {
    flex-direction: row-reverse;
}
