@import '/src/Components/Utilities/Utilities';


.navbar {
    width: 100%;
    min-height: 100px;
    background-color: $smoky-dark;

    .navbar-container {
        width: 100%;
        max-width: 1200px;
        min-height: inherit;
        margin: auto;
        border-bottom: .5px solid $seashell;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .cart-shadow {
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.322);
            width: 100%;
            z-index: 9;
            height: 100vh;
        }

        .navlinks-container {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;

            a {
                text-decoration: none;
                color: white;
                font-size: 1em;
                font-weight: 600;
            }

            a:not(:last-child) {
                margin-right: 20px;
            }

        }

        .cart-container {
            cursor: pointer;
            position: relative;
            z-index: 10;


            .cart-count {
                position: absolute;
                width: 20px;
                height: 20px;
                background-color: $reddish-orange;
                border-radius: 50%;
                top: -12px;
                right: -12px;
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    font-size: .6em;
                    font-weight: bold;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

    }


}
