@import '/src/Components/Utilities/Utilities';


.footer {
    width: 100%;
    min-height: 400px;
    background-color: $smoky-dark;
    bottom: 0;
    left: 0;
    margin-top: 200px;

    &-container {
        width: 100%;
        max-width: 1200px;
        min-height: inherit;
        margin: auto;
        display: flex;
        flex-direction: column;


        .hr-line {
            width: 100px;
            height: 4px;
            background-color: $reddish-orange;
            margin-bottom: 50px;
        }

        .footer-links {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            a {
                text-decoration: none;
                color: white;
                font-size: .8em;
                font-weight: bold;
            }

            a:not(:last-child) {
                margin-right: 30px;
            }

        }

        .footer-contents {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 20px;
            // border: 1px solid white;

            .footer-about {
                max-width: 520px;
                display: flex;
                align-items: flex-end;

                p {
                    color: #7D7D7D;
                    font-size: .9em;
                    line-height: 1.5;
                    font-weight: bold;
                }
            }

            .social-links {
                margin-bottom: 15px;

                i {
                    color: white;
                    font-size: 1.5em;
                    margin-left: 20px;
                }
            }
        }

        .copyright {

            p {
                color: #7D7D7D;
                font-size: .9em;
                line-height: 1.5;
                font-weight: bold;
            }
        }


    }

}